<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Whois</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
</head>
<body>
<h1 id="propetywhois">Propety Whois</h1>

<p>Programmatically find the name of a parcel's owner!</p>

<h2 id="howto">How To</h2>

<p>Request: <br/>
    <code>GET https://tools.wprdc.org/property_whois/whois/&lt;parcel_id&gt;</code> <br/>
    Response: </p>

<pre><code class="json language-json">{
  "name": &lt;the_owners_name&gt;,
  "success": &lt;true|false&gt;
}
</code></pre>

<p></p>

<h2 id="example">Example</h2>

<p>Request: <br/>
    <code>GET https://tools.wprdc.org/property_whois/whois/0028F00194000000/</code> <br/>
    Response: </p>

<pre><code class="json language-json">{
  "name": "UNIVERSITY OF PITTSBURGH OF THE COMMONWEALTH SYSTEM OF HIGHER EDUCATION",
  "success": true
}
</code></pre>

<p></p></body>
</html>